In [3]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ----------- ---------------------------- 71.7/250.9 kB 1.3 MB/s eta 0:00:01
   ------------------------ --------------- 153.6/250.9 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.5 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import os
import ast

In [2]:
# List of file names
path = "C:/Users/SAM/Desktop/used car price prediction/dataset/"
file_names = ['bangalore_cars.xlsx', 'chennai_cars.xlsx', 'delhi_cars.xlsx',
              'hyderabad_cars.xlsx', 'jaipur_cars.xlsx', 'kolkata_cars.xlsx']
dfs = []

for file in file_names:
    df = pd.read_excel(f"{path}{file}")
    state = file.split('_')[0]
    df['city'] = state
   
    dfs.append(df)
 
merged_df = pd.concat(dfs, ignore_index=True)
 
# merged_df.to_excel('merged_cars_data.xlsx', index=False)
 
print("Files merged successfully. Output saved as 'merged_cars_data.xlsx'")

# Save the DataFrame to a excel file
merged_df.to_excel('merged_data.xlsx', index=False)

print("DataFrame saved as 'merged_data.xlsx'")

Files merged successfully. Output saved as 'merged_cars_data.xlsx'
DataFrame saved as 'merged_data.xlsx'

In [5]:
merged_df

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,bangalore
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,bangalore
...,...,...,...,...,...,...
8364,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,kolkata
8365,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,kolkata
8366,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,kolkata
8367,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,kolkata
8368,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,kolkata

In [3]:
import pandas as pd
import ast

# Load the Excel file
merged_df = pd.read_excel('C:/Users/SAM/Desktop/used car price prediction/merged_data.xlsx')

# Convert the 'new_car_detail' column from string to dictionary using ast.literal_eval
merged_df['new_car_detail'] = merged_df['new_car_detail'].apply(lambda x: ast.literal_eval(str(x)))

# Function to extract all keys from the dictionary
def extract_all_keys(row):
    car_detail = row['new_car_detail']
    
    # Get all keys in the dictionary for that row
    keys = car_detail.keys()
    
    # Extract key-value pairs using .get(), safely handling missing keys
    return {key: car_detail.get(key) for key in keys}

# Apply the function to each row and create a new DataFrame with the extracted values
new_car_detail = merged_df.apply(extract_all_keys, axis=1, result_type='expand')

# # Concatenate the original dataframe with the new columns
#bdf = pd.concat([banglore_df, new_car_detail], axis=1)

# # Display the updated dataframe
# bdf.head()
new_car_detail.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,â‚¹ 4 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,â‚¹ 8.11 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,â‚¹ 5.85 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,â‚¹ 4.62 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,â‚¹ 7.90 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [8]:
new_car_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   it                8369 non-null   int64
 1   ft                8369 non-null   object
 2   bt                8369 non-null   object
 3   km                8369 non-null   object
 4   transmission      8369 non-null   object
 5   ownerNo           8369 non-null   int64
 6   owner             8369 non-null   object
 7   oem               8369 non-null   object
 8   model             8369 non-null   object
 9   modelYear         8369 non-null   int64
 10  centralVariantId  8369 non-null   int64
 11  variantName       8369 non-null   object
 12  price             8369 non-null   object
 13  priceActual       8369 non-null   object
 14  priceSaving       8369 non-null   object
 15  priceFixedText    0 non-null      object
 16  trendingText      8369 non-null   object
dtypes: int64(4), object(13)
memory usage: 1.1+ MB

In [4]:
import pandas as pd
import ast

# Load your Excel file
merged_df = pd.read_excel('C:/Users/SAM/Desktop/used car price prediction/merged_data.xlsx')

# Ensure the 'new_car_overview' column is in dictionary format (if stored as a string, convert it)
merged_df['new_car_overview'] = merged_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
data_rows = []

# Loop through each row in the DataFrame
for idx, row in merged_df.iterrows():
    # Extract the dictionary from 'new_car_overview'
    car_overview = row['new_car_overview']
    
    # Extract the heading
    heading = car_overview.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    top_details = car_overview.get('top', [])
    
    # Convert the list of dictionaries (top) into a flat dictionary
    top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
    
    # Combine the heading with the top details
    combined_data = {'heading': heading}
    combined_data.update(top_dict)
    
    # Append the combined data to the list
    data_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_overview = pd.DataFrame(data_rows)

# Display the final DataFrame
new_car_overview.head()

,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,Car overview,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Car overview,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Car overview,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Car overview,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,Car overview,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0

In [10]:
new_car_overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   heading              8369 non-null   object
 1   Registration Year    8317 non-null   object
 2   Insurance Validity   8365 non-null   object
 3   Fuel Type            8369 non-null   object
 4   Seats                8363 non-null   object
 5   Kms Driven           8367 non-null   object
 6   RTO                  7481 non-null   object
 7   Ownership            8337 non-null   object
 8   Engine Displacement  8365 non-null   object
 9   Transmission         8369 non-null   object
 10  Year of Manufacture  8349 non-null   float64
dtypes: float64(1), object(10)
memory usage: 719.3+ KB

In [5]:


merged_df=pd.read_excel('C:/Users/SAM/Desktop/used car price prediction/merged_data.xlsx')
# Ensure the 'new_car_feature' column is in dictionary format (if stored as a string, convert it)
merged_df['new_car_feature'] = merged_df['new_car_feature'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
feature_rows = []

# Loop through each row in the DataFrame
for idx, row in merged_df.iterrows():
    # Extract the dictionary from 'new_car_feature'
    car_feature = row['new_car_feature']
    
    # Extract the heading
    heading = car_feature.get('heading', None)
    
    # Extract the top details (list of features)
    top_features = ', '.join([item['value'] for item in car_feature.get('top', []) if 'value' in item])
    
    # Extract the detailed feature sections from 'data'
    feature_details = car_feature.get('data', [])
    
    # Convert the detailed feature sections into a flat dictionary
    feature_dict = {}
    for section in feature_details:
        section_name = section.get('heading', '')
        sub_section_name = section.get('subHeading', '')
        feature_list = ', '.join([item['value'] for item in section.get('list', []) if 'value' in item])
        feature_dict[f'{section_name} - {sub_section_name}'] = feature_list
    
    # Combine the heading, top features, and detailed features
    combined_data = {'heading': heading, 'top_features': top_features}
    combined_data.update(feature_dict)
    
    # Append the combined data to the list
    feature_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_feature = pd.DataFrame(feature_rows)

# Display the final DataFrame
new_car_feature.head()

,heading,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment
0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Centeral Locking, Child Safety Locks, Day Nigh...",NaN
1,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
2,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
3,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
4,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Audio System Remote Control, Speakers F..."

In [12]:
new_car_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 7 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   heading                                        8369 non-null   object
 1   top_features                                   8369 non-null   object
 2   Comfort & Convenience - Comfort                8301 non-null   object
 3   Interior - Interior                            8292 non-null   object
 4   Exterior - Exterior                            8279 non-null   object
 5   Safety - Safety                                8273 non-null   object
 6   Entertainment & Communication - Entertainment  7274 non-null   object
dtypes: object(7)
memory usage: 457.8+ KB

In [6]:


# Load your Excel file
merged_df = pd.read_excel('C:/Users/SAM/Desktop/used car price prediction/merged_data.xlsx')

# Ensure the 'new_car_specs' column is in dictionary format (if stored as a string, convert it)
merged_df['new_car_specs'] = merged_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data for new_car_specs
specs_data_rows = []

# Loop through each row in the DataFrame
for idx, row in merged_df.iterrows():
    # Extract the dictionary from 'new_car_specs'
    car_specs = row['new_car_specs']
    
    # Extract the heading
    specs_heading = car_specs.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    specs_top_details = car_specs.get('top', [])
    
    # Convert the top list of dictionaries into a flat dictionary
    specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
    
    # Initialize a dictionary for combined data
    combined_specs_data = {'heading': specs_heading}
    combined_specs_data.update(specs_top_dict)  # Add the top details

    # Extract the detailed specs (from the 'data' field)
    detailed_specs = car_specs.get('data', [])
    
    # Loop through each category of detailed specifications
    for category in detailed_specs:
        # Get the category heading (e.g., 'Engine and Transmission', 'Dimensions & Capacity')
        category_heading = category.get('heading', None)
        
        # Get the list of specifications within this category
        category_list = category.get('list', [])
        
        # Convert the list of dictionaries into a flat dictionary
        for item in category_list:
            if isinstance(item, dict):
                combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Append the combined specs data to the list
    specs_data_rows.append(combined_specs_data)

# Convert the list of dictionaries into a DataFrame
new_car_specs = pd.DataFrame(specs_data_rows)

# Display the final DataFrame with new_car_specs
new_car_specs.head()

,heading,Mileage,Engine,Max Power,Torque,Seats,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,Engine and Transmission - Max Power,...,Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Wheel Size,Miscellaneous - Alloy Wheel Size,Dimensions & Capacity - Ground Clearance Unladen
0,Specifications,23.1 kmpl,998 CC,67.04bhp,90Nm,5,White,K10B Engine,998,67.04bhp@6000rpm,...,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN,NaN
1,Specifications,17 kmpl,1497 CC,121.31bhp,150Nm,5,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,...,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16,NaN
2,Specifications,23.84 kmpl,1199 CC,84bhp,114Nm,5,Red,Revotron Engine,1199,84bhp@6000rpm,...,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,14,NaN
3,Specifications,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5,Others,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,...,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,14,NaN
4,Specifications,23.65 kmpl,1248 CC,88.5bhp,200Nm,5,Gray,DDiS 200 Diesel Engine,1248,88.5bhp@4000rpm,...,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,16,NaN

In [15]:
new_car_specs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 42 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   heading                                           8369 non-null   object
 1   Mileage                                           8082 non-null   object
 2   Engine                                            8365 non-null   object
 3   Max Power                                         8309 non-null   object
 4   Torque                                            8309 non-null   object
 5   Seats                                             8364 non-null   object
 6   Engine and Transmission - Color                   8366 non-null   object
 7   Engine and Transmission - Engine Type             8074 non-null   object
 8   Engine and Transmission - Displacement            8365 non-null   object
 9   Engine and Transmission - Max Power               8309 non-null   object
 10  Engine and Transmission - Max Torque              8309 non-null   object
 11  Engine and Transmission - No of Cylinder          8338 non-null   float64
 12  Engine and Transmission - Values per Cylinder     8318 non-null   float64
 13  Engine and Transmission - Value Configuration     6153 non-null   object
 14  Engine and Transmission - Fuel Suppy System       6642 non-null   object
 15  Engine and Transmission - BoreX Stroke            2405 non-null   object
 16  Engine and Transmission - Compression Ratio       1895 non-null   object
 17  Engine and Transmission - Turbo Charger           7329 non-null   object
 18  Engine and Transmission - Super Charger           6407 non-null   object
 19  Dimensions & Capacity - Length                    8290 non-null   object
 20  Dimensions & Capacity - Width                     8286 non-null   object
 21  Dimensions & Capacity - Height                    8290 non-null   object
 22  Dimensions & Capacity - Wheel Base                8206 non-null   object
 23  Dimensions & Capacity - Front Tread               4811 non-null   object
 24  Dimensions & Capacity - Rear Tread                4799 non-null   object
 25  Dimensions & Capacity - Kerb Weight               8310 non-null   object
 26  Dimensions & Capacity - Gross Weight              3828 non-null   object
 27  Miscellaneous - Gear Box                          8263 non-null   object
 28  Miscellaneous - Drive Type                        6809 non-null   object
 29  Miscellaneous - Seating Capacity                  8363 non-null   object
 30  Miscellaneous - Steering Type                     8114 non-null   object
 31  Miscellaneous - Turning Radius                    6769 non-null   object
 32  Miscellaneous - Front Brake Type                  8273 non-null   object
 33  Miscellaneous - Rear Brake Type                   8273 non-null   object
 34  Miscellaneous - Top Speed                         4607 non-null   object
 35  Miscellaneous - Acceleration                      4857 non-null   object
 36  Miscellaneous - Tyre Type                         8292 non-null   object
 37  Miscellaneous - No Door Numbers                   8358 non-null   object
 38  Miscellaneous - Cargo Volumn                      6776 non-null   object
 39  Wheel Size                                        5386 non-null   object
 40  Miscellaneous - Alloy Wheel Size                  5386 non-null   object
 41  Dimensions & Capacity - Ground Clearance Unladen  515 non-null    object
dtypes: float64(2), object(40)
memory usage: 2.7+ MB

In [7]:
car_data = pd.concat([new_car_detail , new_car_overview , new_car_feature , new_car_specs,],axis=1)
car_data['city'] = merged_df['city']
car_data

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Rear Brake Type,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Wheel Size,Miscellaneous - Alloy Wheel Size,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN,NaN,bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16,NaN,bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,14,NaN,bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,14,NaN,bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,16,NaN,bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,Drum,NaN,NaN,"Tubeless, Radial",5,313,NaN,NaN,NaN,kolkata
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,Drum,140 kmph,19 Seconds,Tubeless Tyres,5,177-litres,NaN,NaN,NaN,kolkata
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,Solid Disc,230km/hr,8.8 Seconds,"Tubeless,Radial",4,475-litres,17,17,NaN,kolkata
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,Drum,156 Kmph,15 Seconds,"Tubeless,Radial",5,236-liters,14,14,NaN,kolkata
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,Drum,168 Kmph,14.20 Seconds,"Tubeless,Radial",5,410-litres,16,16,NaN,kolkata

In [22]:
car_data.shape

(8369, 78)

In [23]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                8369 non-null   int64
 1   ft                                                8369 non-null   object
 2   bt                                                8369 non-null   object
 3   km                                                8369 non-null   object
 4   transmission                                      8369 non-null   object
 5   ownerNo                                           8369 non-null   int64
 6   owner                                             8369 non-null   object
 7   oem                                               8369 non-null   object
 8   model                                             8369 non-null   object
 9   modelYear                                         8369 non-null   int64
 10  centralVariantId                                  8369 non-null   int64
 11  variantName                                       8369 non-null   object
 12  price                                             8369 non-null   object
 13  priceActual                                       8369 non-null   object
 14  priceSaving                                       8369 non-null   object
 15  priceFixedText                                    0 non-null      object
 16  trendingText                                      8369 non-null   object
 17  heading                                           8369 non-null   object
 18  Registration Year                                 8317 non-null   object
 19  Insurance Validity                                8365 non-null   object
 20  Fuel Type                                         8369 non-null   object
 21  Seats                                             8363 non-null   object
 22  Kms Driven                                        8367 non-null   object
 23  RTO                                               7481 non-null   object
 24  Ownership                                         8337 non-null   object
 25  Engine Displacement                               8365 non-null   object
 26  Transmission                                      8369 non-null   object
 27  Year of Manufacture                               8349 non-null   float64
 28  heading                                           8369 non-null   object
 29  top_features                                      8369 non-null   object
 30  Comfort & Convenience - Comfort                   8301 non-null   object
 31  Interior - Interior                               8292 non-null   object
 32  Exterior - Exterior                               8279 non-null   object
 33  Safety - Safety                                   8273 non-null   object
 34  Entertainment & Communication - Entertainment     7274 non-null   object
 35  heading                                           8369 non-null   object
 36  Mileage                                           8082 non-null   object
 37  Engine                                            8365 non-null   object
 38  Max Power                                         8309 non-null   object
 39  Torque                                            8309 non-null   object
 40  Seats                                             8364 non-null   object
 41  Engine and Transmission - Color                   8366 non-null   object
 42  Engine and Transmission - Engine Type             8074 non-null   object
 43  Engine and Transmission - Displacement            8365 non-null   object
 44  Engine and Transmission - Max Power               8309 non-null   object
 45  Engine and Transmission - Max Torque              8309 non-null   object
 46  Engine and Transmission - No of Cylinder          8338 non-null   float64
 47  Engine and Transmission - Values per Cylinder     8318 non-null   float64
 48  Engine and Transmission - Value Configuration     6153 non-null   object
 49  Engine and Transmission - Fuel Suppy System       6642 non-null   object
 50  Engine and Transmission - BoreX Stroke            2405 non-null   object
 51  Engine and Transmission - Compression Ratio       1895 non-null   object
 52  Engine and Transmission - Turbo Charger           7329 non-null   object
 53  Engine and Transmission - Super Charger           6407 non-null   object
 54  Dimensions & Capacity - Length                    8290 non-null   object
 55  Dimensions & Capacity - Width                     8286 non-null   object
 56  Dimensions & Capacity - Height                    8290 non-null   object
 57  Dimensions & Capacity - Wheel Base                8206 non-null   object
 58  Dimensions & Capacity - Front Tread               4811 non-null   object
 59  Dimensions & Capacity - Rear Tread                4799 non-null   object
 60  Dimensions & Capacity - Kerb Weight               8310 non-null   object
 61  Dimensions & Capacity - Gross Weight              3828 non-null   object
 62  Miscellaneous - Gear Box                          8263 non-null   object
 63  Miscellaneous - Drive Type                        6809 non-null   object
 64  Miscellaneous - Seating Capacity                  8363 non-null   object
 65  Miscellaneous - Steering Type                     8114 non-null   object
 66  Miscellaneous - Turning Radius                    6769 non-null   object
 67  Miscellaneous - Front Brake Type                  8273 non-null   object
 68  Miscellaneous - Rear Brake Type                   8273 non-null   object
 69  Miscellaneous - Top Speed                         4607 non-null   object
 70  Miscellaneous - Acceleration                      4857 non-null   object
 71  Miscellaneous - Tyre Type                         8292 non-null   object
 72  Miscellaneous - No Door Numbers                   8358 non-null   object
 73  Miscellaneous - Cargo Volumn                      6776 non-null   object
 74  Wheel Size                                        5386 non-null   object
 75  Miscellaneous - Alloy Wheel Size                  5386 non-null   object
 76  Dimensions & Capacity - Ground Clearance Unladen  515 non-null    object
 77  city                                              8369 non-null   object
dtypes: float64(3), int64(4), object(71)
memory usage: 5.0+ MB

In [10]:
car_data=car_data.to_csv('cars.csv',index=False)

DATA CLEANING

Handling Missing Values

In [8]:
cars=pd.read_csv('cars.csv')
cars.head()

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\578775066.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  cars=pd.read_csv('cars.csv')

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Rear Brake Type,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Wheel Size,Miscellaneous - Alloy Wheel Size,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5.0,235-litres,NaN,NaN,NaN,bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Drum,NaN,NaN,"Tubeless,Radial",4.0,352-litres,16,16,NaN,bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Drum,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,14,14,NaN,bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4.0,407-litres,14,14,NaN,bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5.0,353-litres,16,16,NaN,bangalore

In [30]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                8369 non-null   int64
 1   ft                                                8369 non-null   object
 2   bt                                                8365 non-null   object
 3   km                                                8369 non-null   object
 4   transmission                                      8369 non-null   object
 5   ownerNo                                           8369 non-null   int64
 6   owner                                             8369 non-null   object
 7   oem                                               8369 non-null   object
 8   model                                             8369 non-null   object
 9   modelYear                                         8369 non-null   int64
 10  centralVariantId                                  8369 non-null   int64
 11  variantName                                       8369 non-null   object
 12  price                                             8369 non-null   object
 13  priceActual                                       1670 non-null   object
 14  priceSaving                                       0 non-null      float64
 15  priceFixedText                                    0 non-null      float64
 16  trendingText                                      8369 non-null   object
 17  heading                                           8369 non-null   object
 18  Registration Year                                 8317 non-null   object
 19  Insurance Validity                                8365 non-null   object
 20  Fuel Type                                         8369 non-null   object
 21  Seats                                             8363 non-null   object
 22  Kms Driven                                        8367 non-null   object
 23  RTO                                               7475 non-null   object
 24  Ownership                                         8337 non-null   object
 25  Engine Displacement                               8365 non-null   object
 26  Transmission                                      8369 non-null   object
 27  Year of Manufacture                               8349 non-null   float64
 28  heading.1                                         8369 non-null   object
 29  top_features                                      8304 non-null   object
 30  Comfort & Convenience - Comfort                   8301 non-null   object
 31  Interior - Interior                               8292 non-null   object
 32  Exterior - Exterior                               8279 non-null   object
 33  Safety - Safety                                   8273 non-null   object
 34  Entertainment & Communication - Entertainment     7274 non-null   object
 35  heading.2                                         8369 non-null   object
 36  Mileage                                           8082 non-null   object
 37  Engine                                            8365 non-null   object
 38  Max Power                                         8309 non-null   object
 39  Torque                                            8309 non-null   object
 40  Seats.1                                           8363 non-null   float64
 41  Engine and Transmission - Color                   8366 non-null   object
 42  Engine and Transmission - Engine Type             8074 non-null   object
 43  Engine and Transmission - Displacement            8365 non-null   float64
 44  Engine and Transmission - Max Power               8309 non-null   object
 45  Engine and Transmission - Max Torque              8309 non-null   object
 46  Engine and Transmission - No of Cylinder          8338 non-null   float64
 47  Engine and Transmission - Values per Cylinder     8318 non-null   float64
 48  Engine and Transmission - Value Configuration     6153 non-null   object
 49  Engine and Transmission - Fuel Suppy System       6642 non-null   object
 50  Engine and Transmission - BoreX Stroke            2405 non-null   object
 51  Engine and Transmission - Compression Ratio       1895 non-null   object
 52  Engine and Transmission - Turbo Charger           7329 non-null   object
 53  Engine and Transmission - Super Charger           6407 non-null   object
 54  Dimensions & Capacity - Length                    8290 non-null   object
 55  Dimensions & Capacity - Width                     8286 non-null   object
 56  Dimensions & Capacity - Height                    8290 non-null   object
 57  Dimensions & Capacity - Wheel Base                8206 non-null   object
 58  Dimensions & Capacity - Front Tread               4811 non-null   object
 59  Dimensions & Capacity - Rear Tread                4799 non-null   object
 60  Dimensions & Capacity - Kerb Weight               8310 non-null   object
 61  Dimensions & Capacity - Gross Weight              3828 non-null   object
 62  Miscellaneous - Gear Box                          8263 non-null   object
 63  Miscellaneous - Drive Type                        6809 non-null   object
 64  Miscellaneous - Seating Capacity                  8363 non-null   float64
 65  Miscellaneous - Steering Type                     8114 non-null   object
 66  Miscellaneous - Turning Radius                    6769 non-null   object
 67  Miscellaneous - Front Brake Type                  8273 non-null   object
 68  Miscellaneous - Rear Brake Type                   8273 non-null   object
 69  Miscellaneous - Top Speed                         4607 non-null   object
 70  Miscellaneous - Acceleration                      4857 non-null   object
 71  Miscellaneous - Tyre Type                         8292 non-null   object
 72  Miscellaneous - No Door Numbers                   8358 non-null   float64
 73  Miscellaneous - Cargo Volumn                      6776 non-null   object
 74  Wheel Size                                        5386 non-null   object
 75  Miscellaneous - Alloy Wheel Size                  5386 non-null   object
 76  Dimensions & Capacity - Ground Clearance Unladen  515 non-null    object
 77  city                                              8369 non-null   object
dtypes: float64(9), int64(4), object(65)
memory usage: 5.0+ MB

In [16]:
cars.isna().sum()

it                                                     0
ft                                                     0
bt                                                     4
km                                                     0
transmission                                           0
                                                    ...
Miscellaneous - Cargo Volumn                        1593
Wheel Size                                          2983
Miscellaneous - Alloy Wheel Size                    2983
Dimensions & Capacity - Ground Clearance Unladen    7854
city                                                   0
Length: 78, dtype: int64

### body type - bt - handling missing values

In [9]:
cars['bt'].unique()

array(['Hatchback', 'SUV', 'Sedan', 'MUV', 'Coupe', 'Minivans',
       'Pickup Trucks', 'Convertibles', 'Hybrids', nan, 'Wagon'],
      dtype=object)

In [11]:
cars['bt'].isna().sum()

np.int64(4)

In [10]:
# Find the mode (most frequent category) in 'bt'
bt_mode = cars['bt'].mode()[0]

# Impute missing values with the mode
cars['bt'].fillna(bt_mode, inplace=True)
 # Verify no missing values remain

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\3022327089.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['bt'].fillna(bt_mode, inplace=True)

In [11]:
cars['bt'].isna().sum()

np.int64(0)

In [21]:
cars.isna().sum()

it                                                     0
ft                                                     0
bt                                                     0
km                                                     0
transmission                                           0
                                                    ...
Miscellaneous - Cargo Volumn                        1593
Wheel Size                                          2983
Miscellaneous - Alloy Wheel Size                    2983
Dimensions & Capacity - Ground Clearance Unladen    7854
city                                                   0
Length: 78, dtype: int64

### seates

In [12]:
cars['Seats'].unique()

array(['5 Seats', '7 Seats', '4 Seats', '6 Seats', '8 Seats', '10 Seats',
       nan, '9 Seats', '2 Seats'], dtype=object)

In [13]:
cars['Miscellaneous - Seating Capacity'].isna().sum()

np.int64(6)

In [14]:
null_values = cars[cars['Miscellaneous - Seating Capacity'].isnull()]['Miscellaneous - Seating Capacity']
null_values

1175   NaN
3528   NaN
6211   NaN
7608   NaN
7669   NaN
7745   NaN
Name: Miscellaneous - Seating Capacity, dtype: float64

In [15]:
cars['Miscellaneous - Seating Capacity'].fillna(cars['Miscellaneous - Seating Capacity'].median(), inplace=True)
cars['Miscellaneous - Seating Capacity'].unique()

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\2996409140.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Miscellaneous - Seating Capacity'].fillna(cars['Miscellaneous - Seating Capacity'].median(), inplace=True)

array([ 5.,  7.,  4.,  6.,  8., 10.,  9.,  2.])

In [16]:
cars.rename(columns={'Miscellaneous - Seating Capacity': 'Car_seats'}, inplace=True)
cars['Car_seats']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
8364    5.0
8365    5.0
8366    5.0
8367    5.0
8368    5.0
Name: Car_seats, Length: 8369, dtype: float64

In [17]:
cars['Car_seats'].unique()

array([ 5.,  7.,  4.,  6.,  8., 10., nan,  9.,  2.])

In [17]:
cars['Car_seats'].isna().sum()

np.int64(0)

### kms driven - handling missing values

In [18]:
cars['km'].isna().sum()

np.int64(0)

In [19]:
cars['km'] = cars['km'].str.replace(',', '')

# Step 2: Convert to integer (or float, if needed)
cars['km'] = cars['km'].astype(int)

### price changing datatype

In [20]:
cars['price']

0          â‚¹ 4 Lakh
1       â‚¹ 8.11 Lakh
2       â‚¹ 5.85 Lakh
3       â‚¹ 4.62 Lakh
4       â‚¹ 7.90 Lakh
           ...
8364    â‚¹ 5.10 Lakh
8365    â‚¹ 1.80 Lakh
8366    â‚¹ 5.50 Lakh
8367    â‚¹ 1.40 Lakh
8368       â‚¹ 5 Lakh
Name: price, Length: 8369, dtype: object

In [21]:
p1=cars[cars['price'].str.contains('Crore', na=False)]

In [10]:
p1['price'].head()

823     â‚¹ 1.30 Crore
1612    â‚¹ 1.10 Crore
1673    â‚¹ 1.18 Crore
1768    â‚¹ 1.13 Crore
3064    â‚¹ 1.32 Crore
Name: price, dtype: object

In [22]:
# Ensure the price column is treated as a string
cars['price'] = cars['price'].astype(str)

# Clean the price column
cars['price'] = cars['price'].str.replace('â‚¹', '').str.strip()  # Remove currency symbol

# Define the conversion function with Crore and Lakh check
def convert_price(price):
    price = price.replace(',', '').strip()  # Remove commas for easier conversion
    if 'Crore' in price:
        return int(float(price.replace(' Crore', '').strip()) * 10000000)  # Convert Crore to integer
    elif 'Lakh' in price:
        return int(float(price.replace(' Lakh', '').strip()) * 100000)  # Convert Lakh to integer
    else:
        return int(price) if price.isdigit() else 0  # Treat as thousands or just integer

# Apply the conversion function to the price column
cars['price'] = cars['price'].apply(convert_price)

# Display the updated price column
print(cars['price'].head())

0    400000
1    811000
2    585000
3    462000
4    790000
Name: price, dtype: int64

In [68]:
cars['price'].head()

0    400000
1    811000
2    585000
3    462000
4    790000
Name: price, dtype: int64

### insurance

In [23]:
cars['Insurance Validity'].isna().sum()

np.int64(4)

In [34]:
cars['Insurance Validity'].unique()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', nan, '2', '1', 'Not Available'], dtype=object)

In [24]:
cars['Insurance Validity'].fillna(cars['Insurance Validity'].mode()[0], inplace=True)

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\3599854368.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Insurance Validity'].fillna(cars['Insurance Validity'].mode()[0], inplace=True)

In [23]:
cars['Insurance Validity'].unique()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', '2', '1', 'Not Available'], dtype=object)

In [25]:
# Mapping numerical and other inconsistent values to valid categories
cars['Insurance Validity'] = cars['Insurance Validity'].replace({
    '1': 'Third Party',
    '2': 'Comprehensive'
    
})

In [37]:
cars['Insurance Validity'].unique()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', 'Not Available'], dtype=object)

In [20]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                8369 non-null   int64
 1   ft                                                8369 non-null   object
 2   bt                                                8365 non-null   object
 3   km                                                8369 non-null   int64
 4   transmission                                      8369 non-null   object
 5   ownerNo                                           8369 non-null   int64
 6   owner                                             8369 non-null   object
 7   oem                                               8369 non-null   object
 8   model                                             8369 non-null   object
 9   modelYear                                         8369 non-null   int64
 10  centralVariantId                                  8369 non-null   int64
 11  variantName                                       8369 non-null   object
 12  price                                             8369 non-null   int64
 13  priceActual                                       1670 non-null   object
 14  priceSaving                                       0 non-null      float64
 15  priceFixedText                                    0 non-null      float64
 16  trendingText                                      8369 non-null   object
 17  heading                                           8369 non-null   object
 18  Registration Year                                 8317 non-null   object
 19  Insurance Validity                                8369 non-null   object
 20  Fuel Type                                         8369 non-null   object
 21  Seats                                             8363 non-null   object
 22  Kms Driven                                        8367 non-null   object
 23  RTO                                               7475 non-null   object
 24  Ownership                                         8337 non-null   object
 25  Engine Displacement                               8365 non-null   object
 26  Transmission                                      8369 non-null   object
 27  Year of Manufacture                               8349 non-null   float64
 28  heading.1                                         8369 non-null   object
 29  top_features                                      8304 non-null   object
 30  Comfort & Convenience - Comfort                   8301 non-null   object
 31  Interior - Interior                               8292 non-null   object
 32  Exterior - Exterior                               8279 non-null   object
 33  Safety - Safety                                   8273 non-null   object
 34  Entertainment & Communication - Entertainment     7274 non-null   object
 35  heading.2                                         8369 non-null   object
 36  Mileage                                           8082 non-null   object
 37  Engine                                            8365 non-null   object
 38  Max Power                                         8309 non-null   object
 39  Torque                                            8309 non-null   object
 40  Seats.1                                           8363 non-null   float64
 41  Engine and Transmission - Color                   8366 non-null   object
 42  Engine and Transmission - Engine Type             8074 non-null   object
 43  Engine and Transmission - Displacement            8365 non-null   float64
 44  Engine and Transmission - Max Power               8309 non-null   object
 45  Engine and Transmission - Max Torque              8309 non-null   object
 46  Engine and Transmission - No of Cylinder          8338 non-null   float64
 47  Engine and Transmission - Values per Cylinder     8318 non-null   float64
 48  Engine and Transmission - Value Configuration     6153 non-null   object
 49  Engine and Transmission - Fuel Suppy System       6642 non-null   object
 50  Engine and Transmission - BoreX Stroke            2405 non-null   object
 51  Engine and Transmission - Compression Ratio       1895 non-null   object
 52  Engine and Transmission - Turbo Charger           7329 non-null   object
 53  Engine and Transmission - Super Charger           6407 non-null   object
 54  Dimensions & Capacity - Length                    8290 non-null   object
 55  Dimensions & Capacity - Width                     8286 non-null   object
 56  Dimensions & Capacity - Height                    8290 non-null   object
 57  Dimensions & Capacity - Wheel Base                8206 non-null   object
 58  Dimensions & Capacity - Front Tread               4811 non-null   object
 59  Dimensions & Capacity - Rear Tread                4799 non-null   object
 60  Dimensions & Capacity - Kerb Weight               8310 non-null   object
 61  Dimensions & Capacity - Gross Weight              3828 non-null   object
 62  Miscellaneous - Gear Box                          8263 non-null   object
 63  Miscellaneous - Drive Type                        6809 non-null   object
 64  Miscellaneous - Seating Capacity                  8363 non-null   float64
 65  Miscellaneous - Steering Type                     8114 non-null   object
 66  Miscellaneous - Turning Radius                    6769 non-null   object
 67  Miscellaneous - Front Brake Type                  8273 non-null   object
 68  Miscellaneous - Rear Brake Type                   8273 non-null   object
 69  Miscellaneous - Top Speed                         4607 non-null   object
 70  Miscellaneous - Acceleration                      4857 non-null   object
 71  Miscellaneous - Tyre Type                         8292 non-null   object
 72  Miscellaneous - No Door Numbers                   8358 non-null   float64
 73  Miscellaneous - Cargo Volumn                      6776 non-null   object
 74  Wheel Size                                        5386 non-null   object
 75  Miscellaneous - Alloy Wheel Size                  5386 non-null   object
 76  Dimensions & Capacity - Ground Clearance Unladen  515 non-null    object
 77  city                                              8369 non-null   object
dtypes: float64(9), int64(6), object(63)
memory usage: 5.0+ MB

In [25]:
cars.isna().sum()

it                                                     0
ft                                                     0
bt                                                     0
km                                                     0
transmission                                           0
                                                    ...
Miscellaneous - Cargo Volumn                        1593
Wheel Size                                          2983
Miscellaneous - Alloy Wheel Size                    2983
Dimensions & Capacity - Ground Clearance Unladen    7854
city                                                   0
Length: 78, dtype: int64

In [29]:


# Calculate the percentage of missing values for each column
missing_percentage = cars.isnull().mean() * 100

# Display only the columns with missing values and their percentages
missing_percentage = missing_percentage[missing_percentage > 0]

missing_percentage

priceActual                                          80.045406
priceSaving                                         100.000000
priceFixedText                                      100.000000
Registration Year                                     0.621341
Seats                                                 0.071693
Kms Driven                                            0.023898
RTO                                                  10.682280
Ownership                                             0.382363
Engine Displacement                                   0.047795
Year of Manufacture                                   0.238977
top_features                                          0.776676
Comfort & Convenience - Comfort                       0.812522
Interior - Interior                                   0.920062
Exterior - Exterior                                   1.075397
Safety - Safety                                       1.147090
Entertainment & Communication - Entertainment        13.084000
Mileage                                               3.429322
Engine                                                0.047795
Max Power                                             0.716932
Torque                                                0.716932
Seats.1                                               0.071693
Engine and Transmission - Color                       0.035847
Engine and Transmission - Engine Type                 3.524913
Engine and Transmission - Displacement                0.047795
Engine and Transmission - Max Power                   0.716932
Engine and Transmission - Max Torque                  0.716932
Engine and Transmission - No of Cylinder              0.370415
Engine and Transmission - Values per Cylinder         0.609392
Engine and Transmission - Value Configuration        26.478671
Engine and Transmission - Fuel Suppy System          20.635679
Engine and Transmission - BoreX Stroke               71.262994
Engine and Transmission - Compression Ratio          77.356912
Engine and Transmission - Turbo Charger              12.426813
Engine and Transmission - Super Charger              23.443661
Dimensions & Capacity - Length                        0.943960
Dimensions & Capacity - Width                         0.991755
Dimensions & Capacity - Height                        0.943960
Dimensions & Capacity - Wheel Base                    1.947664
Dimensions & Capacity - Front Tread                  42.514040
Dimensions & Capacity - Rear Tread                   42.657426
Dimensions & Capacity - Kerb Weight                   0.704983
Dimensions & Capacity - Gross Weight                 54.259768
Miscellaneous - Gear Box                              1.266579
Miscellaneous - Drive Type                           18.640220
Miscellaneous - Seating Capacity                      0.071693
Miscellaneous - Steering Type                         3.046959
Miscellaneous - Turning Radius                       19.118174
Miscellaneous - Front Brake Type                      1.147090
Miscellaneous - Rear Brake Type                       1.147090
Miscellaneous - Top Speed                            44.951607
Miscellaneous - Acceleration                         41.964392
Miscellaneous - Tyre Type                             0.920062
Miscellaneous - No Door Numbers                       0.131437
Miscellaneous - Cargo Volumn                         19.034532
Wheel Size                                           35.643446
Miscellaneous - Alloy Wheel Size                     35.643446
Dimensions & Capacity - Ground Clearance Unladen     93.846338
dtype: float64

In [26]:
cars['Engine Displacement'].isna().sum()

np.int64(4)

In [32]:
cars['Engine Displacement'].unique()

array(['998 cc', '1497 cc', '1199 cc', '1197 cc', '1248 cc', '1956 cc',
       '1198 cc', '1462 cc', '2179 cc', '1950 cc', '1396 cc', '1995 cc',
       '1498 cc', '4663 cc', '1086 cc', '1991 cc', '1968 cc', '1998 cc',
       '2982 cc', '1461 cc', '1797 cc', '796 cc', '1353 cc', '2925 cc',
       '2987 cc', '2967 cc', '999 cc', '1341 cc', '1496 cc', '1582 cc',
       '1798 cc', '1120 cc', '1969 cc', '1451 cc', '814 cc', '1999 cc',
       '1591 cc', '1397 cc', '1368 cc', '1598 cc', '3198 cc', '1196 cc',
       '2993 cc', '2755 cc', '2143 cc', '2354 cc', '1332 cc', '2199 cc',
       '1997 cc', '1499 cc', '2148 cc', '2696 cc', '1364 cc', '2494 cc',
       '1373 cc', '1299 cc', '1061 cc', '1493 cc', '2497 cc', '1495 cc',
       '1590 cc', '1896 cc', '1330 cc', '1781 cc', '1390 cc', '1194 cc',
       '2953 cc', '1399 cc', '1595 cc', nan, '2496 cc', '0 cc', '1984 cc',
       '2694 cc', '1298 cc', '2362 cc', '970 cc', '2198 cc', '1599 cc',
       '993 cc', '2393 cc', '1389 cc', '1597 cc', '2498 cc', '2523 cc',
       '1586 cc', '995 cc', '2499 cc', '2998 cc', '72 cc', '1589 cc',
       '624 cc', '1596 cc', '799 cc', '3597 cc', '2184 cc', '1405 cc',
       '5000 cc', '1422 cc', '1047 cc', '2200 cc', '2996 cc', '1108 cc',
       '2400 cc', '1996 cc', '1395 cc', '1186 cc', '1799 cc', '2999 cc',
       '1482 cc', '793 cc', '936 cc', '4134 cc', '1796 cc', '1172 cc',
       '1468 cc', '1193 cc', '2477 cc', '2997 cc', '2995 cc', '2487 cc',
       '1794 cc', '3456 cc', '2360 cc', '3982 cc', '2894 cc', '3346 cc',
       '3498 cc', '2979 cc', '1349 cc', '2157 cc', '1985 cc', '2112 cc',
       '2446 cc', '2359 cc', '2609 cc', '2956 cc', '2231 cc', '2835 cc',
       '1150 cc', '1343 cc', '2981 cc', '4395 cc', '1817 cc', '3993 cc',
       '1948 cc', '4806 cc', '2994 cc', '1993 cc', '1490 cc', '2489 cc'],
      dtype=object)

In [27]:
md=cars['Engine Displacement'].mode()
md

0    1197 cc
Name: Engine Displacement, dtype: object

In [10]:
cars['Engine and Transmission - Displacement'].unique()

array([ 998., 1497., 1199., 1197., 1248., 1956., 1198., 1462., 2179.,
       1950., 1396., 1995., 1498., 4663., 1086., 1991., 1968., 1998.,
       2982., 1461., 1797.,  796., 1353., 2925., 2987., 2967.,  999.,
       1341., 1496., 1582., 1798., 1120., 1969., 1451.,  814., 1999.,
       1591., 1397., 1368., 1598., 3198., 1196., 2993., 2755., 2143.,
       2354., 1332., 2199., 1997., 1499., 2148., 2696., 1364., 2494.,
       1373., 1299., 1061., 1493., 2497., 1495., 1590., 1896., 1330.,
       1781., 1390., 1194., 2953., 1399., 1595.,   nan, 2496.,    0.,
       1984., 2694., 1298., 2362.,  970., 2198., 1599.,  993., 2393.,
       1389., 1597., 2498., 2523., 1586.,  995., 2499., 2998.,   72.,
       1589.,  624., 1596.,  799., 3597., 2184., 1405., 5000., 1422.,
       1047., 2200., 2996., 1108., 2400., 1996., 1395., 1186., 1799.,
       2999., 1482.,  793.,  936., 4134., 1796., 1172., 1468., 1193.,
       2477., 2997., 2995., 2487., 1794., 3456., 2360., 3982., 2894.,
       3346., 3498., 2979., 1349., 2157., 1985., 2112., 2446., 2359.,
       2609., 2956., 2231., 2835., 1150., 1343., 2981., 4395., 1817.,
       3993., 1948., 4806., 2994., 1993., 1490., 2489.])

In [28]:
cars['Engine and Transmission - Displacement'].isna().sum()

np.int64(4)

In [29]:
med=cars['Engine and Transmission - Displacement'].median()
med

np.float64(1248.0)

In [30]:
cars['Engine and Transmission - Displacement'].fillna(med, inplace=True)

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\1127371508.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Engine and Transmission - Displacement'].fillna(med, inplace=True)

In [31]:
cars['Engine and Transmission - Displacement'].isna().sum()

np.int64(0)

### oem

In [32]:
cars['oem'].isna().sum()

np.int64(0)

In [39]:
cars['oem'].unique()

array(['Maruti', 'Ford', 'Tata', 'Hyundai', 'Jeep', 'Datsun', 'Honda',
       'Mahindra', 'Mercedes-Benz', 'BMW', 'Renault', 'Audi', 'Toyota',
       'Mini', 'Kia', 'Skoda', 'Volkswagen', 'Volvo', 'MG', 'Nissan',
       'Fiat', 'Mahindra Ssangyong', 'Mitsubishi', 'Jaguar', 'Land Rover',
       'Chevrolet', 'Citroen', 'Opel', 'Mahindra Renault', 'Isuzu',
       'Lexus', 'Porsche', 'Hindustan Motors'], dtype=object)

In [33]:
cars['oem'] = cars['oem'].replace({
    'Mahindra Renault': 'Renault',
    'Mahindra Ssangyong': 'Ssangyong'
})

### 'Miscellaneous - Gear Box'

In [34]:
cars['Miscellaneous - Gear Box'].isna().sum()

np.int64(106)

In [42]:
cars['Miscellaneous - Gear Box'].unique()

array(['5 Speed ', '5 Speed', '6 Speed', '7-Speed', '4 Speed', '6 Speed ',
       '8G-DCT', '5-Speed', '7 Speed', '9 Speed', '8 Speed',
       '8-Speed Steptronic', '6-Speed', '7-Speed DCT', '9-Speed',
       '8 Speed Tiptronic', '5', '6 Speed IMT', '6-speed AutoSHIFT',
       '6-speed CVT', 'CVT', '6-speed', '7-speed DCT', '7 Speed DSG',
       '7 Speed DCT', '6', '8-Speed', '5-speed', '6 speed ',
       '8-Speed Steptronic Sport Automatic Transmission', '5 speed',
       '7 Speed CVT', 'Five Speed Manual', '5 Speed CVT', nan,
       '6 Speed AT', '6-Speed iMT', '6-Speed DCT', '7-Speed S-Tronic ',
       '7G DCT 7-Speed Dual Clutch Transmission ', '7-Speed S-Tronic',
       '5-Speed`', '9 speed Tronic', '6-Speed IVT', 'Direct Drive',
       '6 Speed IVT', 'IVT', '8 Speed CVT',
       'Five Speed Manual Transmission', '5 Speed AT+ Paddle Shifters',
       '8-Speed ', 'iMT', 'AGS', '6Speed', '4-Speed', '6-Speed IMT',
       '6 Speed MT', '6 Speed iMT', '7 Speed ', 'Five Speed', '4 Speed ',
       '7-speed', '6-Speed AT', '9G-TRONIC', '9G-TRONIC automatic',
       '7-Speed DSG', 'Six Speed Manual', '8 Speed Sport',
       '6 Speed with Sequential Shift', '6-speed IVT',
       '7-Speed Steptronic', '8', '8-speed',
       'Five Speed Manual Transmission Gearbox', 'AMG SPEEDSHIFT DCT 8G',
       'AMG 7-SPEED DCT', 'E-CVT', '8 Speed ', '7-speed Stronic',
       '8 speed', '8-Speed Automatic Transmission',
       'Six Speed Manual with Paddle Shifter', '7 Speed Steptronic Sport',
       '4-speed', '6-speed DCT', '9-speed automatic', 'SPEEDSHIFT TCT 9G',
       '7 Speed 7G-DCT', '7-speed PDK', '8Speed',
       '8-speed Steptronic Automatic', '10-speed Automatic',
       'Six Speed Automatic Transmission', '9G TRONIC', '5-Speed ',
       '7-Speed DCT Steptronic', '8-Speed DCT',
       'Mercedes Benz 7 Speed Automatic', '10 speed', '6-speed iMT',
       '7 speed', '6 speed automatic', '7G-DCT',
       'Six Speed Geartronic, Six Speed Automati',
       '5 Speed Manual (Cable Type Gear Shift)',
       'Six Speed Automatic Gearbox', '10 Speed', 'Fully Automatic',
       'Single-speed transmission', 'Six Speed  Gearbox',
       '5 Speed Forward, 1 Reverse', '7 Speed S tronic',
       'Single speed reduction gear', 'Single Speed', '5 speed manual',
       '9 -speed', '8-speed tiptronic', '7-Speed S tronic', 'eCVT'],
      dtype=object)

In [35]:
# Extract numeric part using regex directly with raw string
cars['Miscellaneous - Gear Box'] = cars['Miscellaneous - Gear Box'].astype(str).str.extract(r'(\d+)', expand=False)

# Convert extracted values to numeric type
cars['Miscellaneous - Gear Box'] = pd.to_numeric(cars['Miscellaneous - Gear Box'], errors='coerce')

In [45]:
cars['Miscellaneous - Gear Box'].unique()

array([ 5.,  6.,  7.,  4.,  8.,  9., nan, 10.])

In [36]:
cars['Miscellaneous - Gear Box'].median()

np.float64(5.0)

In [37]:
medi = cars['Miscellaneous - Gear Box'].median()

# Fill NaN values with the mode
cars['Miscellaneous - Gear Box'].fillna(medi, inplace=True)

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\1713980619.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Miscellaneous - Gear Box'].fillna(medi, inplace=True)

In [38]:
cars['Miscellaneous - Gear Box'].unique()

array([ 5.,  6.,  7.,  4.,  8.,  9., 10.])

In [39]:
cars['Miscellaneous - Gear Box'] = cars['Miscellaneous - Gear Box'].astype(int)

In [40]:
cars['Miscellaneous - Gear Box'].dtype

dtype('int64')

### 'Mileage'

In [41]:
cars['Mileage'].isna().sum()

np.int64(287)

In [55]:
cars['Mileage'].unique()

array(['23.1 kmpl', '17 kmpl', '23.84 kmpl', '19.1 kmpl', '23.65 kmpl',
       '17.1 kmpl', '20.63 kmpl', '18.15 kmpl', '20.28 kmpl', '21.4 kmpl',
       '18.9 kmpl', '18.2 kmpl', '15.1 kmpl', nan, '21.27 kmpl',
       '17.33 kmpl', '17.8 kmpl', '18.48 kmpl', '22.38 kmpl',
       '16.42 kmpl', '7.81 kmpl', '17.4 kmpl', '20.3 kmpl', '13.45 kmpl',
       '15 kmpl', '17.11 kmpl', '20.14 kmpl', '20.51 kmpl', '19.34 kmpl',
       '12.6 kmpl', '15.56 kmpl', '11.5 kmpl', '19.87 kmpl', '18.6 kmpl',
       '22.54 kmpl', '16.3 kmpl', '18.53 kmpl', '22.05 kmpl',
       '12.05 kmpl', '16.5 kmpl', '19.7 kmpl', '11.3 kmpl', '14.08 kmpl',
       '12.07 kmpl', '22 kmpl', '21.5 kmpl', '15.3 kmpl', '26.68 kmpl',
       '21.14 kmpl', '15.9 kmpl', '19.67 kmpl', '14.6 kmpl', '28.4 kmpl',
       '21.76 kmpl', '26.21 kmpl', '19 kmpl', '19.98 kmpl', '18.5 kmpl',
       '20 kmpl', '16.8 kmpl', '17.2 kmpl', '21.13 kmpl', '24 kmpl',
       '25.32 kmpl', '16.55 kmpl', '19.2 kmpl', '24.04 kmpl',
       '27.03 kmpl', '16.56 kmpl', '19.4 kmpl', '19.56 kmpl',
       '20.92 kmpl', '19.03 kmpl', '21.1 kmpl', '18.19 kmpl',
       '17.41 kmpl', '14.2 kmpl', '19.81 kmpl', '14.8 kmpl', '16 kmpl',
       '18.4 kmpl', '13.2 kmpl', '14.1 kmpl', '20.36 kmpl', '13.24 kmpl',
       '14.16 kmpl', '24.39 kmpl', '10.91 kmpl', '18.16 kmpl',
       '20.89 kmpl', '18.1 kmpl', '16.35 kmpl', '15.97 kmpl',
       '16.07 kmpl', '16.38 kmpl', '14.24 kmpl', '17.9 kmpl',
       '19.01 kmpl', '25.2 kmpl', '19.6 kmpl', '18 kmpl', '17.21 kmpl',
       '11.1 kmpl', '11.4 kmpl', '11.72 kmpl', '13.32 kmpl', '20.37 kmpl',
       '24.3 kmpl', '18.27 kmpl', '20.45 kmpl', '18.7 kmpl', '22.41 kmpl',
       '20.77 kmpl', '15.63 kmpl', '20.54 kmpl', '21.19 kmpl',
       '27.39 kmpl', '17.92 kmpl', '26 kmpl', '10 kmpl', '17.5 kmpl',
       '11.18 kmpl', '23 kmpl', '17.57 kmpl', '14.21 kmpl', '21.43 kmpl',
       '20.65 kmpl', '22.9 kmpl', '14.5 kmpl', '12.99 kmpl', '19.12 kmpl',
       '13.8 kmpl', '13.38 kmpl', '14.7 kmpl', '16.36 kmpl', '18.24 kmpl',
       '21.56 kmpl', '20.38 kmpl', '23.7 kmpl', '20.08 kmpl', '10.9 kmpl',
       '21.21 kmpl', '15.43 kmpl', '21.74 kmpl', '23.95 kmpl',
       '19.27 kmpl', '15.4 kmpl', '22.07 kmpl', '20.85 kmpl',
       '17.01 kmpl', '14.11 kmpl', '22.56 kmpl', '20.5 kmpl', '20.4 kmpl',
       '20.73 kmpl', '15.6 kmpl', '14.67 kmpl', '19.3 kmpl', '14.71 kmpl',
       '17.69 kmpl', '13.6 kmpl', '21.72 kmpl', '12.51 kmpl', '16.2 kmpl',
       '13 kmpl', '17.74 kmpl', '12.55 kmpl', '12.8 kmpl', '22.35 kmpl',
       '22.77 kmpl', '25.24 kmpl', '17.7 kmpl', '13.06 kmpl', '12.3 kmpl',
       '17.14 kmpl', '21.03 kmpl', '21.7 kmpl', '23.2 kmpl', '14.69 kmpl',
       '22.5 kmpl', '20.52 kmpl', '21.46 kmpl', '22.69 kmpl',
       '22.32 kmpl', '21.01 kmpl', '24.4 kmpl', '17.42 kmpl',
       '18.56 kmpl', '15.73 kmpl', '17.68 kmpl', '16.13 kmpl',
       '13.79 kmpl', '18.25 kmpl', '18.3 kmpl', '15.5 kmpl', '15.17 kmpl',
       '14.99 kmpl', '11.9 kmpl', '15.29 kmpl', '16.09 kmpl',
       '16.47 kmpl', '20.09 kmpl', '21.63 kmpl', '15.26 kmpl',
       '11.57 kmpl', '17.03 kmpl', '20.8 kmpl', '17.19 kmpl', '12 kmpl',
       '23.9 kmpl', '20.04 kmpl', '110 kmpl', '14.59 kmpl', '14 kmpl',
       '18.45 kmpl', '16.96 kmpl', '12.65 kmpl', '19.33 kmpl',
       '19.65 kmpl', '22.15 kmpl', '25 kmpl', '14.82 kmpl', '10.75 kmpl',
       '21.73 kmpl', '8 kmpl', '16.1 kmpl', '20.68 kmpl', '22.7 kmpl',
       '11.36 kmpl', '13.4 kmpl', '18.49 kmpl', '14.28 kmpl',
       '17.88 kmpl', '16.11 kmpl', '20.7 kmpl', '16.82 kmpl', '17.3 kmpl',
       '20.46 kmpl', '12.35 kmpl', '15.04 kmpl', '18.75 kmpl',
       '15.2 kmpl', '18.12 kmpl', '18.06 kmpl', '11.7 kmpl', '20.1 kmpl',
       '22.74 kmpl', '28.09 kmpl', '17.67 kmpl', '20.88 km/kg',
       '26.11 kmpl', '22.1 kmpl', '13.5 kmpl', '24.52 kmpl', '20.25 kmpl',
       '13.58 kmpl', '10.54 kmpl', '15.7 kmpl', '19.64 kmpl', '140 kmpl',
       '13.68 kmpl', '16.24 kmpl', '26.59 kmpl', '13.7 kmpl', '17.6 kmpl',
       '19.69 kmpl', '15.41 kmpl', '14.9 kmpl', '17.52 kmpl',
       '17.05 kmpl', '24.7 kmpl', '21.9 kmpl', '25.4 kmpl', '19.47 kmpl',
       '21.66 kmpl', '25.8 kmpl', '10.5 kmpl', '14.4 kmpl', '9 kmpl',
       '19.09 kmpl', '23.01 kmpl', '22.25 kmpl', '27.28 kmpl',
       '21.64 kmpl', '22.61 kmpl', '15.8 kmpl', '18.09 kmpl',
       '19.28 kmpl', '18.78 kmpl', '11.74 kmpl', '8.9 kmpl', '15.85 kmpl',
       '18.76 kmpl', '16.95 kmpl', '23.59 kmpl', '14.84 kmpl',
       '19.5 kmpl', '21 kmpl', '15.96 kmpl', '27.3 kmpl', '18.88 kmpl',
       '13.93 kmpl', '14.74 kmpl', '16.4 kmpl', '16.28 kmpl',
       '20.86 kmpl', '18.07 kmpl', '21.79 kmpl', '16.6 kmpl', '13.9 kmpl',
       '26.1 kmpl', '13.92 kmpl', '18.55 kmpl', '14.02 kmpl',
       '31.59 km/kg', '19.72 kmpl', '14.57 kmpl', '21.8 kmpl',
       '15.37 kmpl', '13.53 kmpl', '14.53 kmpl', '13.22 kmpl',
       '25.5 kmpl', '14.75 kmpl', '16.46 kmpl', '19.02 kmpl',
       '18.41 kmpl', '23.8 kmpl', '14.3 kmpl', '17.99 kmpl', '15.81 kmpl',
       '15.34 kmpl', '19.08 kmpl', '18.86 kmpl', '19.49 kmpl',
       '22.95 kmpl', '25.17 kmpl', '16.14 kmpl', '17.09 kmpl',
       '18.97 kmpl', '12.08 kmpl', '16.78 kmpl', '19.23 kmpl', '8.5 kmpl',
       '25.6 kmpl', '22.3 kmpl', '18.72 kmpl', '13.96 kmpl', '16.65 kmpl',
       '12.62 kmpl', '19.44 kmpl', '14.62 kmpl', '23.64 kmpl',
       '19.71 kmpl', '13.17 kmpl', '19.15 kmpl', '23.56 kmpl',
       '23.4 kmpl', '19.62 kmpl', '16.25 kmpl', '27.62 kmpl',
       '25.44 kmpl', '20.71 kmpl', '9.8 kmpl', '13.14 kmpl', '11.33 kmpl',
       '25.19 kmpl', '24.29 kmpl', '19.16 kmpl', '16.73 kmpl',
       '19.83 kmpl', '25.83 kmpl', '12.2 kmpl', '12.78 kmpl',
       '14.49 kmpl', '20.58 kmpl', '24.35 kmpl', '14.19 kmpl',
       '12.7 kmpl', '26.49 km/kg', '16.98 kmpl', '16.02 kmpl',
       '18.05 kmpl', '24.2 kmpl', '15.64 kmpl', '19.19 kmpl',
       '13.01 kmpl', '12.83 kmpl', '11.24 kmpl', '12.18 kmpl',
       '18.8 kmpl', '26.2 kmpl', '23.08 kmpl', '22.37 kmpl', '16.9 kmpl',
       '19.59 kmpl', '14.85 kmpl', '12.74 kmpl', '28 km/kg', '12.4 kmpl',
       '12.5 kmpl', '14.025 kmpl', '19.89 kmpl', '30.48 km/kg',
       '33.54 kmpl', '19.61 kmpl', '26.08 km/kg', '12.1 kmpl',
       '12.81 kmpl', '9.2 kmpl', '17.71 kmpl', '16.34 kmpl', '30.46 kmpl',
       '32.52 kmpl', '11.21 kmpl', '16.39 kmpl', '11.2 kmpl',
       '12.04 kmpl', '11.67 kmpl', '16.12 kmpl', '26.55 kmpl',
       '7.08 kmpl', '31.2 kmpl', '12.33 kmpl', '31.79 kmpl', '11 kmpl',
       '8.13 kmpl', '35.6 km/kg', '16.72 kmpl', '25.1 kmpl', '22.48 kmpl',
       '20.6 kmpl', '14.01 kmpl', '17.38 kmpl', '12.34 kmpl', '10.8 kmpl',
       '9.26 kmpl', '12.95 kmpl', '12.9 kmpl', '16.7 kmpl', '15.68 kmpl',
       '10.4 kmpl', '20.15 kmpl', '31.12 km/kg', '26.8 kmpl',
       '11.88 kmpl', '18.69 kmpl', '18.9 km/kg', '22.27 kmpl',
       '15.01 kmpl', '10.26 kmpl', '19.39 kmpl', '14.34 kmpl',
       '8.45 kmpl', '26.11 km/kg', '12.63 kmpl', '26.6 kmpl',
       '13.47 kmpl', '10.13 kmpl', '20.27 kmpl', '14.09 kmpl',
       '20.01 kmpl', '14.47 kmpl', '10.93 kmpl', '26.6 km/kg',
       '26.83 kmpl', '31.12 kmpl', '24.76 kmpl', '21.11 kmpl',
       '14.23 kmpl', '26.82 kmpl', '17.32 kmpl', '25.3 kmpl',
       '19.95 kmpl', '21.12 kmpl', '11.96 kmpl', '21.02 kmpl',
       '19.68 kmpl', '18.23 kmpl', '23.22 kmpl', '17.97 kmpl',
       '16.97 kmpl', '13.33 kmpl', '27.4 kmpl', '26.5 kmpl', '25.01 kmpl',
       '17.43 kmpl', '22.71 kmpl', '20.34 kmpl', '24.1 kmpl',
       '30.47 km/kg', '17.29 kmpl', '21.49 kmpl', '13.1 kmpl',
       '21.1 km/kg', '18.43 kmpl', '12.12 kmpl', '9.74 kmpl',
       '16.77 kmpl', '19.17 kmpl', '21.38 kmpl', '23.57 kmpl',
       '24.8 kmpl', '7.94 kmpl', '26.49 kmpl', '25.47 kmpl', '18.33 kmpl',
       '9.4 kmpl', '7.5 kmpl', '13.44 kmpl', '14.94 kmpl', '23.03 kmpl',
       '15.39 kmpl', '24.97 kmpl', '34.05 kmpl', '17.85 kmpl',
       '27.97 kmpl', '20.62 kmpl', '15.15 kmpl', '19.8 kmpl',
       '14.95 kmpl', '11.81 kmpl', '12.98 kmpl'], dtype=object)

In [42]:
cars['Mileage'].mode()

0    18.9 kmpl
Name: Mileage, dtype: object

In [43]:



# 1. Handle Missing Values
median_mileage = cars['Mileage'].dropna().mode()[0]  # Use mode to fill missing values
cars['Mileage'].fillna(median_mileage, inplace=True)

# 2. Convert Units (if necessary)
# Conversion factor from km/kg to kmpl
#conversion_factor = 20

# 3. Clean and Convert Mileage Values
for i in range(len(cars)):
    value = cars['Mileage'].iloc[i]
    if isinstance(value, str):
        # Replace 'km/kg' and convert to 'kmpl'
        if 'km/kg' in value:
            cars['Mileage'].iloc[i] = float(value.replace(' km/kg', '').strip()) 
        elif 'kmpl' in value:
            cars['Mileage'].iloc[i] = float(value.replace(' kmpl', '').strip())
        else:
            # If the format is invalid, set it to NaN
            cars['Mileage'].iloc[i] = np.nan

# 4. Convert to Numeric
cars['Mileage'] = pd.to_numeric(cars['Mileage'], errors='coerce')

cars['Mileage'].head()

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\3373462170.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Mileage'].fillna(median_mileage, inplace=True)
C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\3373462170.py:17: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  cars['Mileage'].iloc[i] = float(value.replace(' kmpl', '').strip())
C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\3373462170.py:15: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  cars['Mileage'].iloc[i] = float(value.replace(' km/kg', '').strip())

0    23.10
1    17.00
2    23.84
3    19.10
4    23.65
Name: Mileage, dtype: float64

In [75]:
cars['Mileage'].unique()

array([ 23.1  ,  17.   ,  23.84 ,  19.1  ,  23.65 ,  17.1  ,  20.63 ,
        18.15 ,  20.28 ,  21.4  ,  18.9  ,  18.2  ,  15.1  ,  21.27 ,
        17.33 ,  17.8  ,  18.48 ,  22.38 ,  16.42 ,   7.81 ,  17.4  ,
        20.3  ,  13.45 ,  15.   ,  17.11 ,  20.14 ,  20.51 ,  19.34 ,
        12.6  ,  15.56 ,  11.5  ,  19.87 ,  18.6  ,  22.54 ,  16.3  ,
        18.53 ,  22.05 ,  12.05 ,  16.5  ,  19.7  ,  11.3  ,  14.08 ,
        12.07 ,  22.   ,  21.5  ,  15.3  ,  26.68 ,  21.14 ,  15.9  ,
        19.67 ,  14.6  ,  28.4  ,  21.76 ,  26.21 ,  19.   ,  19.98 ,
        18.5  ,  20.   ,  16.8  ,  17.2  ,  21.13 ,  24.   ,  25.32 ,
        16.55 ,  19.2  ,  24.04 ,  27.03 ,  16.56 ,  19.4  ,  19.56 ,
        20.92 ,  19.03 ,  21.1  ,  18.19 ,  17.41 ,  14.2  ,  19.81 ,
        14.8  ,  16.   ,  18.4  ,  13.2  ,  14.1  ,  20.36 ,  13.24 ,
        14.16 ,  24.39 ,  10.91 ,  18.16 ,  20.89 ,  18.1  ,  16.35 ,
        15.97 ,  16.07 ,  16.38 ,  14.24 ,  17.9  ,  19.01 ,  25.2  ,
        19.6  ,  18.   ,  17.21 ,  11.1  ,  11.4  ,  11.72 ,  13.32 ,
        20.37 ,  24.3  ,  18.27 ,  20.45 ,  18.7  ,  22.41 ,  20.77 ,
        15.63 ,  20.54 ,  21.19 ,  27.39 ,  17.92 ,  26.   ,  10.   ,
        17.5  ,  11.18 ,  23.   ,  17.57 ,  14.21 ,  21.43 ,  20.65 ,
        22.9  ,  14.5  ,  12.99 ,  19.12 ,  13.8  ,  13.38 ,  14.7  ,
        16.36 ,  18.24 ,  21.56 ,  20.38 ,  23.7  ,  20.08 ,  10.9  ,
        21.21 ,  15.43 ,  21.74 ,  23.95 ,  19.27 ,  15.4  ,  22.07 ,
        20.85 ,  17.01 ,  14.11 ,  22.56 ,  20.5  ,  20.4  ,  20.73 ,
        15.6  ,  14.67 ,  19.3  ,  14.71 ,  17.69 ,  13.6  ,  21.72 ,
        12.51 ,  16.2  ,  13.   ,  17.74 ,  12.55 ,  12.8  ,  22.35 ,
        22.77 ,  25.24 ,  17.7  ,  13.06 ,  12.3  ,  17.14 ,  21.03 ,
        21.7  ,  23.2  ,  14.69 ,  22.5  ,  20.52 ,  21.46 ,  22.69 ,
        22.32 ,  21.01 ,  24.4  ,  17.42 ,  18.56 ,  15.73 ,  17.68 ,
        16.13 ,  13.79 ,  18.25 ,  18.3  ,  15.5  ,  15.17 ,  14.99 ,
        11.9  ,  15.29 ,  16.09 ,  16.47 ,  20.09 ,  21.63 ,  15.26 ,
        11.57 ,  17.03 ,  20.8  ,  17.19 ,  12.   ,  23.9  ,  20.04 ,
       110.   ,  14.59 ,  14.   ,  18.45 ,  16.96 ,  12.65 ,  19.33 ,
        19.65 ,  22.15 ,  25.   ,  14.82 ,  10.75 ,  21.73 ,   8.   ,
        16.1  ,  20.68 ,  22.7  ,  11.36 ,  13.4  ,  18.49 ,  14.28 ,
        17.88 ,  16.11 ,  20.7  ,  16.82 ,  17.3  ,  20.46 ,  12.35 ,
        15.04 ,  18.75 ,  15.2  ,  18.12 ,  18.06 ,  11.7  ,  20.1  ,
        22.74 ,  28.09 ,  17.67 ,  20.88 ,  26.11 ,  22.1  ,  13.5  ,
        24.52 ,  20.25 ,  13.58 ,  10.54 ,  15.7  ,  19.64 , 140.   ,
        13.68 ,  16.24 ,  26.59 ,  13.7  ,  17.6  ,  19.69 ,  15.41 ,
        14.9  ,  17.52 ,  17.05 ,  24.7  ,  21.9  ,  25.4  ,  19.47 ,
        21.66 ,  25.8  ,  10.5  ,  14.4  ,   9.   ,  19.09 ,  23.01 ,
        22.25 ,  27.28 ,  21.64 ,  22.61 ,  15.8  ,  18.09 ,  19.28 ,
        18.78 ,  11.74 ,   8.9  ,  15.85 ,  18.76 ,  16.95 ,  23.59 ,
        14.84 ,  19.5  ,  21.   ,  15.96 ,  27.3  ,  18.88 ,  13.93 ,
        14.74 ,  16.4  ,  16.28 ,  20.86 ,  18.07 ,  21.79 ,  16.6  ,
        13.9  ,  26.1  ,  13.92 ,  18.55 ,  14.02 ,  31.59 ,  19.72 ,
        14.57 ,  21.8  ,  15.37 ,  13.53 ,  14.53 ,  13.22 ,  25.5  ,
        14.75 ,  16.46 ,  19.02 ,  18.41 ,  23.8  ,  14.3  ,  17.99 ,
        15.81 ,  15.34 ,  19.08 ,  18.86 ,  19.49 ,  22.95 ,  25.17 ,
        16.14 ,  17.09 ,  18.97 ,  12.08 ,  16.78 ,  19.23 ,   8.5  ,
        25.6  ,  22.3  ,  18.72 ,  13.96 ,  16.65 ,  12.62 ,  19.44 ,
        14.62 ,  23.64 ,  19.71 ,  13.17 ,  19.15 ,  23.56 ,  23.4  ,
        19.62 ,  16.25 ,  27.62 ,  25.44 ,  20.71 ,   9.8  ,  13.14 ,
        11.33 ,  25.19 ,  24.29 ,  19.16 ,  16.73 ,  19.83 ,  25.83 ,
        12.2  ,  12.78 ,  14.49 ,  20.58 ,  24.35 ,  14.19 ,  12.7  ,
        26.49 ,  16.98 ,  16.02 ,  18.05 ,  24.2  ,  15.64 ,  19.19 ,
        13.01 ,  12.83 ,  11.24 ,  12.18 ,  18.8  ,  26.2  ,  23.08 ,
        22.37 ,  16.9  ,  19.59 ,  14.85 ,  12.74 ,  28.   ,  12.4  ,
        12.5  ,  14.025,  19.89 ,  30.48 ,  33.54 ,  19.61 ,  26.08 ,
        12.1  ,  12.81 ,   9.2  ,  17.71 ,  16.34 ,  30.46 ,  32.52 ,
        11.21 ,  16.39 ,  11.2  ,  12.04 ,  11.67 ,  16.12 ,  26.55 ,
         7.08 ,  31.2  ,  12.33 ,  31.79 ,  11.   ,   8.13 ,  35.6  ,
        16.72 ,  25.1  ,  22.48 ,  20.6  ,  14.01 ,  17.38 ,  12.34 ,
        10.8  ,   9.26 ,  12.95 ,  12.9  ,  16.7  ,  15.68 ,  10.4  ,
        20.15 ,  31.12 ,  26.8  ,  11.88 ,  18.69 ,  22.27 ,  15.01 ,
        10.26 ,  19.39 ,  14.34 ,   8.45 ,  12.63 ,  26.6  ,  13.47 ,
        10.13 ,  20.27 ,  14.09 ,  20.01 ,  14.47 ,  10.93 ,  26.83 ,
        24.76 ,  21.11 ,  14.23 ,  26.82 ,  17.32 ,  25.3  ,  19.95 ,
        21.12 ,  11.96 ,  21.02 ,  19.68 ,  18.23 ,  23.22 ,  17.97 ,
        16.97 ,  13.33 ,  27.4  ,  26.5  ,  25.01 ,  17.43 ,  22.71 ,
        20.34 ,  24.1  ,  30.47 ,  17.29 ,  21.49 ,  13.1  ,  18.43 ,
        12.12 ,   9.74 ,  16.77 ,  19.17 ,  21.38 ,  23.57 ,  24.8  ,
         7.94 ,  25.47 ,  18.33 ,   9.4  ,   7.5  ,  13.44 ,  14.94 ,
        23.03 ,  15.39 ,  24.97 ,  34.05 ,  17.85 ,  27.97 ,  20.62 ,
        15.15 ,  19.8  ,  14.95 ,  11.81 ,  12.98 ])

In [59]:
cars['Mileage'].isna().sum()

np.int64(0)

### drive type

In [44]:
cars['Miscellaneous - Drive Type'].isna().sum()

np.int64(1560)

In [44]:
cars['Miscellaneous - Drive Type'].unique()

array(['FWD', 'FWD ', '4X2', 'AWD', nan, 'RWD', '4x2', '2WD', '4WD',
       '2 WD', 'Front Wheel Drive', 'Rear Wheel Drive with ESP', '4X4',
       'Two Wheel Drive', '2WD ', 'All Wheel Drive', '4x4',
       'AWD INTEGRATED MANAGEMENT', 'RWD(with MTT)',
       'Permanent all-wheel drive quattro', '4 WD'], dtype=object)

In [45]:
cars['Miscellaneous - Drive Type'].mode()

0    FWD
Name: Miscellaneous - Drive Type, dtype: object

In [46]:
# Step 1: Define a mapping for DriveType
mapping = {
    'FWD': 'FWD',
    'FWD ': 'FWD',
    'Front Wheel Drive': 'FWD',
    'RWD': 'RWD',
    'RWD ': 'RWD',
    'Rear Wheel Drive with ESP': 'RWD',
    'RWD(with MTT)': 'RWD',
    '4WD': '4WD',
    '4x4': '4WD',
    '4X4': '4WD',
    '4x2': '4WD',
    '4X2': '4WD',
    '2WD': 'RWD',  # or use 'FWD' based on your preference
    '2 WD': 'RWD',  # same as above
    'Two Wheel Drive': 'RWD',  # same as above
    'AWD': 'AWD',
    'All Wheel Drive': 'AWD',
    'AWD INTEGRATED MANAGEMENT': 'AWD',
    'Permanent all-wheel drive quattro': 'AWD',
    'Real Wheel Drive':'RWD',
    '4 WD': '4WD',
    None: None  # Keep NaN as is
}

# Step 2: Map the values using the defined mapping
cars['Miscellaneous - Drive Type'] = cars['Miscellaneous - Drive Type'].map(mapping)

In [47]:
# Step 3: Handle missing values using the mode
mode_drive_type = cars['Miscellaneous - Drive Type'].mode()[0]
cars['Miscellaneous - Drive Type'].fillna(mode_drive_type, inplace=True)

C:\Users\SAM\AppData\Local\Temp\ipykernel_9712\1872384580.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Miscellaneous - Drive Type'].fillna(mode_drive_type, inplace=True)

In [50]:
cars['Miscellaneous - Drive Type'].unique()

array(['FWD', '4WD', 'AWD', 'RWD'], dtype=object)

### model year

In [48]:
cars['modelYear'].dtype

dtype('int64')

In [49]:
cars['modelYear'].isna().sum()

np.int64(0)

### fuel type

In [49]:
cars['ft'].isna().sum()

np.int64(0)

### owner

In [51]:
cars['owner'].isna().sum()

np.int64(0)

In [52]:
cars['owner'].unique()

array(['3rd Owner', '2nd Owner', '1st Owner', '4th Owner', '5th Owner',
       '0th Owner'], dtype=object)

### transmission

In [53]:
cars['transmission'].isna().sum()

np.int64(0)

In [54]:
cars['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

### owner no

In [55]:
cars['ownerNo'].isna().sum()

np.int64(0)

In [56]:
cars['ownerNo'].unique()

array([3, 2, 1, 4, 5, 0])

In [57]:
cars['model'].isna().unique()

array([False])

In [58]:
cars['model'].unique()

array(['Maruti Celerio', 'Ford Ecosport', 'Tata Tiago', 'Hyundai Xcent',
       'Maruti SX4 S Cross', 'Jeep Compass', 'Datsun GO', 'Hyundai Venue',
       'Maruti Ciaz', 'Maruti Baleno', 'Hyundai Grand i10', 'Honda Jazz',
       'Mahindra XUV500', 'Mercedes-Benz GLA', 'Hyundai i20',
       'Tata Nexon', 'Honda City', 'BMW 5 Series', 'Maruti Swift',
       'Renault Duster', 'Mercedes-Benz S-Class', 'Hyundai Santro',
       'Hyundai Santro Xing', 'Mercedes-Benz E-Class', 'Audi A4',
       'Maruti Wagon R', 'Maruti Ertiga', 'Mercedes-Benz C-Class',
       'Toyota Fortuner', 'Hyundai Elantra', 'Audi A6', 'Maruti Alto 800',
       'Mahindra Scorpio', 'Mini 3 DOOR', 'Kia Seltos', 'Maruti Alto',
       'Mercedes-Benz GL-Class', 'Tata New Safari', 'Audi Q7',
       'Renault KWID', 'Hyundai Getz', 'Skoda Rapid', 'Hyundai Creta',
       'Tata Harrier', 'BMW 3 Series GT', 'Renault Lodgy',
       'Skoda Octavia', 'Maruti Ritz', 'Volkswagen Polo',
       'Mahindra KUV 100', 'BMW X3', 'Hyundai i10', 'Volvo S60',
       'Mahindra XUV300', 'MG Hector Plus', 'Honda Brio',
       'Maruti Alto K10', 'Renault Kiger', 'Hyundai EON',
       'Volkswagen Vento', 'Toyota Yaris', 'MG Hector', 'Hyundai Alcazar',
       'Volkswagen T-Roc', 'BMW 3 Series', 'Skoda Superb', 'Audi Q5',
       'Ford Endeavour', 'Ford Figo', 'Maruti Ignis', 'Renault Triber',
       'BMW X5', 'Hyundai Tucson', 'Hyundai Verna', 'Mercedes-Benz GLC',
       'Nissan Terrano', 'Honda CR-V', 'Mercedes-Benz A-Class Limousine',
       'Toyota Innova', 'Hyundai Santa Fe', 'BMW 6 Series',
       'Maruti Baleno RS', 'Renault Captur', 'Maruti Vitara Brezza',
       'Maruti Swift Dzire', 'Fiat Linea', 'Hyundai i20 Active',
       'Honda WR-V', 'Mahindra Ssangyong Rexton', 'Toyota Corolla Altis',
       'Ford Ikon', 'Mitsubishi Cedia', 'Jaguar XF', 'Audi A3',
       'Skoda Kushaq', 'Volkswagen Taigun', 'MG Astor', 'Hyundai Accent',
       'Mercedes-Benz B Class', 'Kia Carnival', 'Skoda Laura', 'BMW X4',
       'Mini Cooper', 'Land Rover Discovery Sport', 'Volvo XC40',
       'Kia Sonet', 'Mahindra Verito', 'Maruti S-Presso',
       'Volkswagen Jetta', 'Datsun RediGO', 'Ford Aspire',
       'Ford Freestyle', 'Audi Q3', 'Tata Tigor', 'Jaguar F-Pace',
       'Mercedes-Benz A Class', 'Toyota Glanza', 'Nissan Magnite',
       'Maruti Gypsy', 'Tata Safari Storme', 'Maruti Celerio X',
       'Mercedes-Benz M-Class', 'Mercedes-Benz GLE',
       'Toyota Urban cruiser', 'Mahindra Thar', 'Mercedes-Benz CLA',
       'Mahindra e2o Plus', 'MG Comet EV', 'Maruti Omni',
       'Volkswagen Tiguan', 'Tata Altroz', 'Tata Nexon EV Max',
       'Tata Indica V2', 'Toyota Innova Crysta', 'Volkswagen Ameo',
       'Tata Nexon EV Prime', 'BMW X1', 'Chevrolet Cruze', 'Toyota Camry',
       'Fiat Punto Abarth', 'Mahindra TUV 300', 'Chevrolet Beat',
       'Maruti Eeco', 'Maruti 1000', 'Citroen C5 Aircross',
       'Mahindra XUV700', 'Hyundai Grand i10 Nios', 'Maruti Zen',
       'Mahindra Quanto', 'Land Rover Freelander 2', 'OpelCorsa',
       'Mahindra Xylo', 'Tata Zest', 'Honda New Accord', 'Skoda Yeti',
       'Maruti SX4', 'Jaguar XE', 'Chevrolet Spark', 'Hyundai i20 N Line',
       'Chevrolet Tavera', 'BMW X7', 'Mahindra Renault Logan',
       'Citroen C3', 'Tata Nano', 'Honda Amaze',
       'Mahindra Bolero Power Plus', 'Tata Manza', 'Maruti Esteem',
       'Tata Hexa', 'Nissan Micra Active', 'Mitsubishi Lancer',
       'Ford Fiesta', 'Mahindra Bolero Camper', 'Fiat Punto',
       'Kia Carens', 'Chevrolet Enjoy', 'Volkswagen Tiguan Allspace',
       'Skoda Slavia', 'Mahindra Marazzo', 'Tata Indigo', 'Jaguar XJ',
       'Skoda Fabia', 'Tata Sumo', 'Ford Mondeo', 'Nissan Sunny',
       'Fiat Palio', 'Toyota Etios', 'Maruti Estilo', 'Mahindra Bolero',
       'Jeep Meridian', 'BMW 1 Series', 'Volvo XC 90',
       'Audi A3 cabriolet', 'MG Gloster', 'Land Rover Range Rover Sport',
       'Nissan Micra', 'Fiat Punto EVO', 'Mini Cooper Countryman',
       'Renault Fluence', 'Maruti A-Star', 'Tata Nexon EV',
       'Chevrolet Sail', 'BMW 7 Series', 'Maruti XL6', 'Hyundai Sonata',
       'Honda Civic', 'Maruti Ertiga Tour', 'Mercedes-Benz GLS',
       'Isuzu MU 7', 'Maruti 800', 'Hyundai Aura',
       'BMW 3 Series Gran Limousine', 'Volvo S90', 'Tata Indica',
       'Tata Punch', 'Honda BR-V', 'Mahindra Scorpio N', 'Skoda Kodiaq',
       'Tata Tiago NRG', 'Datsun GO Plus', 'BMW 2 Series',
       'Maruti Wagon R Stingray', 'Mini 5 DOOR', 'Fiat Grande Punto',
       'Mahindra KUV 100 NXT', 'Mercedes-Benz GLA Class',
       'Chevrolet Aveo', 'Land Rover Range Rover Velar', 'Toyota Hyryder',
       'Maruti Zen Estilo', 'Toyota Etios Liva',
       'Land Rover Range Rover Evoque', 'Maruti Versa', 'Isuzu MU-X',
       'Fiat Punto Pure', 'Honda Mobilio', 'Chevrolet Optra',
       'Volvo S 80', 'Mitsubishi Pajero', 'Audi A8', 'Volvo XC60',
       'Mercedes-Benz AMG GLA 35', 'Mercedes-Benz AMG A 35',
       'Volkswagen Virtus', 'Land Rover Discovery', 'Lexus ES', 'Audi Q2',
       'Nissan Kicks', 'Mahindra TUV 300 Plus', 'Mini Cooper SE',
       'Maruti Brezza', 'Jeep Wrangler', 'Toyota Etios Cross',
       'Land Rover Defender', 'Mercedes-Benz GLC Coupe', 'Lexus RX',
       'Mitsubishi Outlander', 'Mercedes-Benz CLS-Class', 'Maruti Jimny',
       'Mini Cooper Clubman', 'Porsche Cayenne', 'Mercedes-Benz AMG G 63',
       'Audi Q3 Sportback', 'Maruti Swift Dzire Tour', 'Porsche Macan',
       'Mercedes-Benz G', 'Mini Cooper Convertible', 'Toyota Vellfire',
       'Toyota Land Cruiser 300', 'Toyota Fortuner Legender',
       'Mahindra Scorpio Classic', 'Mercedes-Benz SLC', 'Isuzu D-Max',
       'Maruti Grand Vitara', 'Ford Fiesta Classic', 'Maruti FRONX',
       'Maruti Celerio Tour 2018-2021', 'Mahindra Alturas G4',
       'Mahindra Jeep', 'Toyota Qualis', 'Volkswagen Passat',
       'Land Rover Range Rover', 'Fiat Avventura', 'Renault Scala',
       'Honda City Hybrid', 'Tata Aria', 'Volvo V40', 'Tata Bolt',
       'MG ZS EV', 'Mahindra E Verito', 'Hyundai Xcent Prime',
       'Mercedes-Benz EQC', 'Fiat Abarth Avventura',
       'Hindustan Motors Contessa', 'Mahindra Bolero Neo',
       'Tata Yodha Pickup', 'Tata Indigo Marina', 'Chevrolet Captiva',
       'Mahindra Bolero Pik Up Extra Long', 'Toyota Corolla',
       'Volvo S60 Cross Country', 'Mercedes-Benz AMG GLC 43',
       'Chevrolet Aveo U-VA', 'Hyundai Kona', 'Tata Tigor EV',
       'Porsche 911', 'Renault Pulse', 'Volkswagen CrossPolo',
       'Ambassador', 'Jeep Compass Trailhawk', 'Tata Sumo Victa',
       'Porsche Panamera', 'Mercedes-Benz AMG GT', 'Audi S5 Sportback',
       'Jaguar F-TYPE'], dtype=object)

### Central Variant id

In [59]:
cars['centralVariantId'].isna().sum()

np.int64(0)

In [60]:
cars['centralVariantId'].unique()

array([3979, 6087, 2983, ..., 8568, 9709, 4672])

### variant name

In [61]:
cars['variantName'].isna().sum()

np.int64(0)

In [62]:
cars['variantName'].unique()

array(['VXI', '1.5 Petrol Titanium BSIV', '1.2 Revotron XZ', ...,
       'XZA Plus P Dark Edition AMT', 'X-Line DCT', 'C 200 CGI Elegance'],
      dtype=object)

In [63]:
cars['city'].isna().sum()

np.int64(0)

In [64]:
cars['city'].unique()

array(['bangalore', 'chennai', 'delhi', 'hyderabad', 'jaipur', 'kolkata'],
      dtype=object)

### changing name of the headers

In [65]:
cars['ft']=cars.rename(columns={"ft":"fueltype"},inplace=True)

In [66]:
cars['km']=cars.rename(columns={"km":"kilometer"},inplace=True)

In [67]:
cars['bt']=cars.rename(columns={"bt":"bodytype"},inplace=True)

In [68]:
cars['Insurance Validity']=cars.rename(columns={"Insurance Validity":"Insurance"},inplace=True)

In [69]:
cars['Engine and Transmission - Displacement']=cars.rename(columns={"Engine and Transmission - Displacement":"engine_cc"},inplace=True)

In [70]:
cars['Miscellaneous - Gear Box']=cars.rename(columns={"Miscellaneous - Gear Box":"gear_box"},inplace=True)

In [71]:
cars['Miscellaneous - Drive Type']=cars.rename(columns={"Miscellaneous - Drive Type":"drivetype"},inplace=True)

In [72]:
final_columns = ['bodytype','Car_seats','modelYear','kilometer','fueltype','ownerNo',
                   'transmission','price','Insurance','engine_cc',
                   'oem','gear_box','Mileage','drivetype','city']

In [73]:
final_cars = cars[final_columns]

# Optionally, save this new DataFrame to a CSV file
final_cars.to_csv('finalcar.csv', index=False)

In [74]:
final_cars

,bodytype,Car_seats,modelYear,kilometer,fueltype,ownerNo,transmission,price,Insurance,engine_cc,oem,gear_box,Mileage,drivetype,city
0,Hatchback,5.0,2015,120000,Petrol,3,Manual,400000,Third Party insurance,998.0,Maruti,5,23.10,FWD,bangalore
1,SUV,5.0,2018,32706,Petrol,2,Manual,811000,Comprehensive,1497.0,Ford,5,17.00,FWD,bangalore
2,Hatchback,5.0,2018,11949,Petrol,1,Manual,585000,Comprehensive,1199.0,Tata,5,23.84,FWD,bangalore
3,Sedan,5.0,2014,17794,Petrol,1,Manual,462000,Comprehensive,1197.0,Hyundai,5,19.10,FWD,bangalore
4,SUV,5.0,2015,60000,Diesel,1,Manual,790000,Third Party insurance,1248.0,Maruti,5,23.65,FWD,bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,5.0,2022,10000,Petrol,1,Manual,509999,Third Party insurance,998.0,Maruti,5,25.24,FWD,kolkata
8365,Hatchback,5.0,2014,120000,Petrol,1,Manual,180000,Third Party insurance,796.0,Maruti,5,22.74,FWD,kolkata
8366,Sedan,5.0,2011,50000,Petrol,3,Automatic,550000,Third Party insurance,1796.0,Mercedes-Benz,7,11.74,RWD,kolkata
8367,Hatchback,5.0,2012,40000,Petrol,1,Manual,140000,Third Party insurance,1197.0,Maruti,5,18.50,FWD,kolkata
8368,SUV,5.0,2017,120000,Diesel,2,Manual,500000,Third Party insurance,1461.0,Renault,6,19.72,AWD,kolkata

In [75]:
final_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   bodytype      8369 non-null   object
 1   Car_seats     8369 non-null   float64
 2   modelYear     8369 non-null   int64
 3   kilometer     8369 non-null   int64
 4   fueltype      8369 non-null   object
 5   ownerNo       8369 non-null   int64
 6   transmission  8369 non-null   object
 7   price         8369 non-null   int64
 8   Insurance     8369 non-null   object
 9   engine_cc     8369 non-null   float64
 10  oem           8369 non-null   object
 11  gear_box      8369 non-null   int64
 12  Mileage       8369 non-null   float64
 13  drivetype     8369 non-null   object
 14  city          8369 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 980.9+ KB